.nav-link:hover{
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}
.box-gambar{
  width: 20%;
  min-height: 300px;
  border: 1px solid;
  margin: 2.2%;
  float: left;
  text-align: center;
}
.box-gambar img{
  width: 100%;
  height: 200px;
}
.center {
  padding: 150px 0;
}
.conten {
  padding: 100px 0;
}